@page
@model UsersModel
@{
    ViewData["Title"] = "Liste des utilisateurs";
}

<h2>Liste des utilisateurs</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom complet</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
